<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgets List</title>
    <style>
        table, td, th {
            border: solid #000 2px;
            border-collapse: collapse;
        }

    </style>
</head>
<body>
    <a href="/budgets/insert">Cadastrar orçamento</a>
    <h1>Lista de orçamentos</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Id de usuário</th>
                <th>Medidas</th>
                <th>Descrição</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <% budgets.forEach((budget, index) => { %>
                <tr>
                    <td><%= budget.id %></td>
                    <td><%= budget.userId %></td>
                    <td><%= budget.measures %></td>
                    <td><%= budget.description %></td>
                    <td><a href="/budgets/delete/<%= budget.id %>">Excluir</a></td>
                    <td><a href="/budgets/update/<%= budget.id %>">Atualizar</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>